<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}

    /* Set gray background color and 100% height */
    .left_sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    .right_sidenav {
      padding-top: 10px;
      padding-left: 10px;

      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    /*footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }*/

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>
<body>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-4 left_sidenav">
      <img src="/profpic/get/:id" alt="ProfilePic" width="300" height="300">
      <hr>
      <ul class="list-group">
        <a href="#" class="list-group-item">Connections</a>
        <br>
        <a href="#" class="list-group-item">Messages</a>
    </div>
    <div class="col-sm-6 text-left">
      <h1>Welcome to The StorQ, {{currentUser.first_name}} {{currentUser.last_name}}</h1>
      <p>This is your timeline.  Here's where you can find recent articles, information, and family planning tips that matter to you.</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
    </div>
    <div class="col-sm-2 right_sidenav">
      <h4>My Profile</h4>
      <ul class="list-group">
        <li class="list-group-item"><strong>My role:</strong> {{currentUser.role}}</li>
        <li class="list-group-item"><strong>My Education level:</strong> {{currentUser.educ}}</li>
        <li class="list-group-item"><strong>My Zip-Code:</strong> {{currentUser.zip}}</li>
        <li class="list-group-item"><strong>My Birthday:</strong> {{currentUser.dob}}</li>
    </div>
  </div>
</div>

<!-- <footer class="container-fluid text-center">
  <p>Copyight @ The StorQ</p>
</footer> -->

</body>
</html>
